<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheet.css">
    <title></title>
  </head>
  <body>
    <form class="generate-form" action="/pick-name" method="post">
      <input type="submit" class="generate-name" name="generate-name" value="Generate Name">
    </form>

    <% if @selected_name %>
    <h1><%= @selected_name %></h1>
    <% end %>
  </body>
</html>
