<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheet.css">
    <title></title>
  </head>
  <body>
    <h1>Enter Names:</h1>

    <form action="/sort-names" method="post">
      <ul class="form-list">
        <li class="form-text"><textarea class="name-form" name="names" rows="40" cols="80"></textarea></li>
        <li class="form-submit"><input type="submit" class="submit" name="submit" value="Submit"></li>
      </ul>

    </form>

  </body>
</html>
